<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between stretch">
  <div class="mb10" fxFlex="24" fxFlex.lt-lg="49">
    <app-stat [bgClass]="'danger'" [icon]="'bookmarks'" [count]="5" [label]="'Datasets'"></app-stat>
  </div>
  <div class="mb10" fxFlex="24" fxFlex.lt-lg="49">
    <app-stat [bgClass]="'warn'" [icon]="'view_list'" [count]="2" [label]="'Analytics'"></app-stat>
  </div>
  <div class="mb10" fxFlex="24" fxFlex.lt-lg="49">
    <app-stat [bgClass]="'success'" [icon]="'shopping_cart'" [count]="24" [label]="'New Orders!'"></app-stat>
  </div>
  <div class="mb10" fxFlex="24" fxFlex.lt-lg="49">
    <app-stat [bgClass]="'info'" [icon]="'contact_support'" [count]="100" [label]="'Total Users'"></app-stat>
  </div>
</div>

<h1>Most Ordered</h1>

<div class="mt20" fxLayout="row" fxLayoutAlign="space-between stretch" fxLayout.lt-md="column" fxLayoutGap="20px">
  
  <mat-card fxFlex *ngFor="let item of places">
    <img mat-card-image [src]="item.imgSrc">
    <mat-card-header style="justify-content: center">
      <mat-card-title>
        <h3 class="m-0">{{item.name}}</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      {{item.description}}
    </mat-card-content>
    <!--mat-card-actions>
      <button mat-button>{{item.charge}}</button>
      <button mat-button>
        <mat-icon class="location-icon">location_on</mat-icon> {{item.location}}
      </button>
    </mat-card-actions-->
  </mat-card>
</div>

<!-- same grid system used in storefront -->
<div class="container-fluid mt-2">
  <div class="row">
    <div class="col-md-10 col-sm-12">
      <span> Grid Test </span>
    </div>
    <div class="col-md-2 col-sm-12">
      <span> Grid Test </span>
    </div>
  </div>
</div>
